@import "tailwindcss";

@theme{
      --color-brand-300:  #e0e7fe;
      --color-brand-500 : #3e38a7;
      --color-brand-600:  #5046e4;
    
    
      --color-gray-100:#eeeeef;
      --color-gray-200:#e6e93d;
      --color-gray-600:#95989c
    }
